In [4]:

# Explain the key featu$es of Python that make it a popular choice for programming.

'''
Python is a programming language which includes a set of instructions that are given by programmers to communicate with computers or machines.

Features -
1. It is a portable language.
2. Python has well active commmunity.
3. It has the largest number of libraries i.e, more than 137000.
4. Easy to understand.
5. It is a high level language(HML).
'''

In [ ]:
# Describe the role of predefined keywords in Python and provide examples of how they are used in a program.

"""
In Python, predefined keywords (also known as reserved words) are special words. 
These keywords have a specific meaning and cannot be used as identifiers (such as variable names, function names, or class names) in your code.
They are fundamental to the structure of the Python language and help define its syntax rules. 
To see all the keywords we can run code in python i.e, help "keywords".
Below is the practical display of this code.
"""

In [5]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
'''
Below is the examples of of how they are used-
Use of "and" , "if", "else" keyword.
'''

In [7]:
a = 20
b = 25
c = 75
if a<b and b<c:        #  if - checks whether this condition is true , and - results in true if both statements are true.
    print("a<b<c")
else:
    print("the value of b not lies between a and c")

a<b<c

In [ ]:
'''
use of "in" , "true" keyword
'''

In [8]:
var_1 = "Good Morning"
"o" in var_1

True

In [ ]:
# Compare and contrast mutable and immutable objects in Python with examples.

'''
In Python, objects are categorized as mutable or immutable based on whether their state or value can be changed
after they are created.

Mutable objects can be changed after they are created. This means that you can modify their contents without 
creating a new object. List, dictionary and sets are the examples of mutable objects.

Immutable objects cannot be changed once they are created. Any modification results in the creation of a new object 
with the new value. Strings, numbers and tuples are the examples of immutable objects.

Below are the examples of mutable and immutable objects.
'''

In [ ]:
'''
Example of Mutable objects
'''

In [9]:
'''list'''
list_1 = ["apple", "banana", "litchi", "Guavava"]
list_1[1] = "grapes"     #assigning another element to already assigned element in the list
print(list_1)

['apple', 'grapes', 'litchi', 'Guavava']

In [ ]:
''' sets '''

In [10]:
set_1 = { "Raman", "suman", 24 , 25 }
set_1.remove("suman")         #removing the specific element from the sets
print(set_1)

{24, 'Raman', 25}

In [ ]:
'''Example of immutable objects'''

In [12]:
'''strings'''
str_1 = ( "My name is suman" )
str_1.remove("raman")      # will give an error because strings are immutable
print(str_1)

AttributeError: 'str' object has no attribute 'remove'

In [17]:
''' tuples'''
tuple_1= ( "Red", "yellow", "green")
tuple_1[0] = "blue"        #will give an error because tuplea cant be modified

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Discuss the different types of operators in Python and provide examples of how they are used.

'''
Operators are the special symbols, combination of symbols or keywords that designate some type of combination.
They are of seven types-

1. Arithmetic operators - Arithmetic operators are used with numeric values to perform common mathematical 
operations. They are - +, -, /, *, **, % ( i.e, addition, subtraction, division, multiplication, power, modulo)

2. Comparison operators - Comparison operators are used to compare two values. They are- ==, !=, >, <, >=, <=.

3. Logical operators - Logical operators are used to combine conditional statements. They are- not, and, or.

4. Assignment operators- Assignment operators are used to assign values to variables. They are- =, +=, -=, /=, *=, 
**=, %=.

5. Membership operators- Membership operators are used to test if a sequence is presented in an object. They are-
in, not in.

6. Identity operators- Identity operators are used to compare the objects, not if they are equal, but if they are
actually the same object, with the same memory location. They are- is, is not.

7. Bitwise operators- Bitwise operators are used to compare (binary) numbers. They are- &(and), |(or), ^(XOR), 
~(not/tilde), >>(right shift), <<(left shift).

Below are the examples of how these operators are being used-
'''

In [20]:
'''arithmetic operators'''
d = 24
e = 12
print(a+b)
print(a-b)
print(a/b)
print(a*b)
print(a%b)
print(a**b)

45
-5
0.8
500
20
335544320000000000000000000000000

In [21]:
'''comparison operators'''
f = 24
g = 36
print(f==g)      #returns true if one variable is equal to other variable
print(f!=g)      #returns true if one variable is not equal to other variable
print(f>g)       #returns true if one variable is greater than other variable
print(f<g)       #returns true if one variable is less than other variable
print(f>=g)      #returns true if one variable is greater than or equal to other variable
print(f<=g)      #returns true if one variable is less than or equal to other variable

False
True
False
True
False
True

In [23]:
'''logical operators'''
h = 25
i = 36
print(h<i or h==i)            #Returns True if one of the statements is true

True

In [25]:
'''assignment operators'''
j = 25
j+=5               #Add value in the already assigned variable.
print(j)

30

In [27]:
j-=5               #Subtract the value from the already assigned variable.
print(j)

20

In [28]:
j%=5
print(j)

0

In [29]:
'''membership operators'''
var_2 = "I live in Mumbai"
print("mumabai" in var_2)         #Returns True if a sequence with the specified value is present in the object
print("Goa" not in var_2)         #Returns True if a sequence with the specified value is not present in the object

False
True

In [30]:
'''identity operators'''
str_2 = "she is a girl"    
str_3 = "she is a boy"
print (str_2 is str_3)      #Returns true if both variables are the same object

False

In [32]:
'''bitwise operators'''
print(25 & 3)         #Sets each bit to 1 if both bits are 1.

1

In [33]:
print(26|12)          #Sets each bit to 1 if one of two bits is 1.

30

In [34]:
print(~10)            #Inverts all the bits

-11

In [ ]:
# Explain the concept of type casting in Python with examples.

'''
Type Casting is the method to convert the Python variable datatype into a certain data type in order to perform the 
required operation by users.
There can be two types of Type Casting in Python:

1. Implicit Type Conversion - In this method, Python converts the datatype into another datatype automatically. Users
don’t have to involve in this process. 

2. Explicit Type Casting - In this method, Python needs user involvement to convert the variable data type into the
required data type.
Mainly type casting can be done with these data type functions:

Int(): Python Int() function take float or string as an argument and returns int type object.
float(): Python float() function take int or string as an argument and return float type object.
str(): Python str() function takes float or int as an argument and returns string type object.

Below are the exxamples of these programs.
'''

In [ ]:
'''implicit type conversion'''

In [3]:
k = 25        #integer data type
l = 24.26     #float data type
print(k + l)  #on running the add operation the python will automatically convert the int value to float value.

49.260000000000005

In [ ]:
'''explicit type casting'''

In [4]:
m = "22"          #string value
n = 66            #integer value
m+n      #will give an error because both the values are different data types so will have to convert manually.

TypeError: can only concatenate str (not "int") to str

In [6]:
m = int(m)    #convert to integer data type
m+n

88

In [7]:
o = 256.6     #float value
p = "554"     #string value
o+p           #will give an error, have to do manually conversion

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [8]:
o = str(o)     #convert to string data type
o+p

'256.6554'

In [ ]:
# How do conditional statements work in Python? Illustrate with examples.

'''
Conditional Statements are statements in Python that provide a choice for the control flow based on a condition. 
It means that the control flow of the Python program will be decided based on the outcome of the condition.
Types of conditional statements-
1. If Conditional Statement - If the simple code of block is to be performed if the condition holds then the if 
statement is used. Here the condition mentioned holds then the code of the block runs otherwise not.

2. If else Conditional Statement - In a conditional if Statement the additional block of code is merged as an 
else statement which is performed when if condition is false. 

3. If-elif-else Conditional Statement - The if statements are executed from the top down. As soon as one of the 
conditions controlling the if is true, the statement associated with that if is executed, and the rest of the 
ladder is bypassed. If none of the conditions is true, then the final “else” statement will be executed.

4. Nested if..else Conditional Statement - Nested if..else means an if-else statement inside another if statement.
Or in simple words first, there is an outer if statement, and inside it another if – else statement is present 
and such type of statement is known as nested if statement. We can use one if or else if statement inside another 
if or else if statements.

Below are the examples explaining each of these statements-
'''

In [ ]:
'''If Conditional Statement'''

In [12]:
ingredient = "sugar"         #variable asssignment
if ingredient == "sugar":    #condition to be checked
    print("we wiil bake cake")

we wiil bake cake

In [ ]:
'''if-else statement'''

In [15]:
ingredient = "salt"             #assignment variable
if ingredient == "sugar":        #condition to be checked
    print("we wiil bake cake")  
else:                             #when the condition is false then it will print else statemnent
    print("we will not bake cake")

we will not bake cake

In [ ]:
'''If-elif-else Conditional Statement'''

In [16]:
colour = "yellow"
if colour == "red":    #first condition
    print("stop")
elif colour == "yellow":   #second condition to be check if first condition is not true
    print("wait")
else:                     #if no condition is true then print else statement
    print("go")

wait

In [ ]:
'''Nested if..else Conditional Statement'''

In [17]:
num = 15
if num > 0:                                           #condition 1 
    if num % 2 == 0:                                  #condition 2 to be tested only if condition 1 is true
        print("the number is positive and even")   
    else:
        print("the number is positive but odd")       #if con 1 is true but con 2 is false then print else statement
else:                                                 #if con 1 is false then print this else statement
    print("the number is not positive")

the number is positive but odd

In [ ]:
# Describe the different types of loops in Python and their use cases with examples.
'''
A loop is an instruction that repeats multiple times as long as some condition is met.
There are mainly two types of loops-

1. while loops - a while loop is used to execute a block of statements repeatedly until a given condition is 
satisfied. When the condition becomes false, the line immediately after the loop in the program is executed.

2. for loops - A for loop in Python is used to iterate over a sequence (list, tuple, set, dictionary, and string).
For loops are used for sequential traversal.

Below are the examples of each-
'''

In [ ]:
'''while loop'''

In [1]:
num = 5
while num >=1:       #condition
    num -= 1
    print(num)

4
3
2
1
0

In [2]:
'''while loop with else'''
num = 5
while num >=1:       #condition
    num -= 1
    print(num) 
else:                #this else statement is printed only if the while loop is executed without any break.
    print("end")

4
3
2
1
0
end

In [16]:
'''while with break'''
num = 1
while num <=5:       #condition
    print(num) 
    num += 1
    if (num == 3):   #if this condition met it will brteal the loop at that point.
        break

1
2

In [19]:
'''while with continue'''
num = 1
while num <=5:       #condition 
    num += 1
    if (num == 3):   #if this condition met it will skip that itireation at that point and continue the loop further.
        continue
    print(num)
else:
    print("end")

2
4
5
6
end

In [29]:
'''use case of while loop'''
number = int(input("enter a number:"))
total = 0
while number !=0:
    total +=number
    number = int(input("enter a number:"))
    print("the total is", number)

enter a number: 2
enter a number: 3

the total is 3

enter a number: 5

the total is 5

enter a number: 47

the total is 47

enter a number: 0

the total is 0

In [30]:
'''for loop'''
list = [ "red", "Yellow", "orange"]
for z in list:
    print(z)

red
Yellow
orange

In [31]:
'''use case of loop'''
student_grades = {
    'Alice': 85,
    'Bob': 92,
    'Charlie': 78,
    'David': 90,
    'Eve': 88
}
for student, grade in student_grades.items():
    print(f"{student} has a grade of {grade}")

Alice has a grade of 85
Bob has a grade of 92
Charlie has a grade of 78
David has a grade of 90
Eve has a grade of 88